# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
*.log

# Docker data
mongo-data/

# Node (frontend futuro)
node_modules/
dist/

# Downloaded zip
backend.zip
